<header class="header-wrapper">
  <h1 class="logo">도서관리시스템</h1>
  <nav class="navi-wrap">
    <nav class="navi-wrap">
      <a href="/book/form" class="navi">도서등록</a>
      <a href="/book/list" class="navi">도서리스트</a>
    </nav>
  </nav>
</header>

<section class="title-wrapper">
  <h2 class="title-wrap"><%= title %> </h2>
  <div class="desc-wrap">
    <p><%= description %></p> 
  </div>
</section>